@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background-image: url( https://i.pinimg.com/236x/2c/ad/b4/2cadb4e88b4aad3b8a036da6ac1cfabd--color-palette-blue-color-palettes.jpg);
        background-size: 100%
    }
</style>
<div class="jumbotron">
    <h2 style="font-family:'Agency FB';color:green; "><strong><mark>Traning System UoG</mark></strong></h2>
    <br />
    <center><img style="width:80%;" src="https://leverageedu.com/blog/wp-content/uploads/2019/11/Modern-Education.png" /></center>
    <br /><br />
    <p><a href="https://cms.greenwich.edu.vn/" class="btn btn-primary btn-lg">CMS systems &raquo;</a></p>
</div>


